@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600");
/* *** COLORS *** */
/* *** RESPONSIVE *** */
/* *** RESPONSIVE *** */
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  margin: 0;
  color: #626262; }
  body b, body strong {
    font-weight: 600; }
  body div#wrapper, body div.wrap {
    width: 100%;
    max-width: 1100px;
    display: block;
    margin: 0 auto; }
  body header div#label-orange {
    background-color: #FB722C;
    color: white;
    text-align: right; }
    body header div#label-orange p {
      padding: 5px 70px;
      font-size: 12px; }
  body header div#label-blue {
    display: block;
    position: relative;
    width: 100%; }
    @media all and (min-width: 600px) {
      body header div#label-blue {
        display: table; } }
    body header div#label-blue div#logo {
      display: block;
      width: 35%;
      padding-top: 10px; }
      @media all and (min-width: 600px) {
        body header div#label-blue div#logo {
          display: table-cell;
          vertical-align: middle;
          width: 25%;
          padding-top: 0px; } }
      body header div#label-blue div#logo a {
        text-decoration: none;
        display: block; }
        body header div#label-blue div#logo a h1 {
          display: block;
          width: 75px;
          height: 72px;
          margin-left: 23%;
          text-indent: -9999px;
          background: transparent url(../imagenes/arici-logo.png) no-repeat;
          -webkit-background-size: contain;
          -moz-background-size: contain;
          -ms-background-size: contain;
          -o-background-size: contain;
          background-size: contain; }
          body header div#label-blue div#logo a h1:hover {
            opacity: 0.8; }
    body header div#label-blue div#navegacion {
      display: block;
      width: 100%;
      color: #82A6C0; }
      @media all and (min-width: 600px) {
        body header div#label-blue div#navegacion {
          display: table-cell;
          vertical-align: top;
          width: 75%; } }
      body header div#label-blue div#navegacion div#slogan {
        position: absolute;
        top: 0;
        width: 65%;
        left: 35%;
        float: left;
        margin-top: 20px;
        font-size: 18px; }
        @media all and (min-width: 600px) {
          body header div#label-blue div#navegacion div#slogan {
            position: relative;
            left: 0;
            width: auto; } }
      body header div#label-blue div#navegacion div#tel {
        position: relative;
        margin-top: 20px;
        float: right;
        padding: 0 10px 0 50px; }
        @media all and (min-width: 600px) {
          body header div#label-blue div#navegacion div#tel {
            padding-right: 70px; } }
        body header div#label-blue div#navegacion div#tel:before {
          content: '';
          display: block;
          width: 50px;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          background: url("../imagenes/imgtel.png") no-repeat;
          background-position: center left;
          -webkit-background-size: contain;
          -moz-background-size: contain;
          -ms-background-size: contain;
          -o-background-size: contain;
          background-size: contain; }
        body header div#label-blue div#navegacion div#tel p {
          font-size: 16px;
          text-transform: uppercase; }
          body header div#label-blue div#navegacion div#tel p a {
            text-decoration: none;
            font-weight: 600;
            display: block;
            padding-top: 5px;
            color: #FB722C; }
            body header div#label-blue div#navegacion div#tel p a:hover {
              color: #005499; }
      body header div#label-blue div#navegacion nav {
        clear: both;
        padding: 10px 0 0 0;
        position: relative; }
        body header div#label-blue div#navegacion nav a#burger {
          display: inline-block;
          color: #82A6C0;
          text-decoration: none;
          font-size: 25px;
          position: absolute;
          top: -37px;
          left: 10px;
          z-index: 20;
          border: 1px solid;
          border-radius: 5px;
          padding: 5px 10px; }
          body header div#label-blue div#navegacion nav a#burger:hover, body header div#label-blue div#navegacion nav a#burger:active {
            color: #FB722C; }
          @media all and (min-width: 900px) {
            body header div#label-blue div#navegacion nav a#burger {
              display: none; } }
        body header div#label-blue div#navegacion nav ul {
          margin: 0;
          padding: 0;
          border: 1px solid #DDE5EC;
          border-bottom: none;
          width: 100%;
          display: block;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          -ms-box-sizing: border-box;
          -o-box-sizing: border-box;
          box-sizing: border-box;
          position: absolute;
          top: 10px;
          z-index: 50; }
          @media all and (min-width: 900px) {
            body header div#label-blue div#navegacion nav ul {
              position: relative;
              top: 0px;
              display: table;
              padding: 10px 70px 0 0;
              border: none;
              border-top: 1px solid #DDE5EC; } }
          body header div#label-blue div#navegacion nav ul li {
            display: none;
            background: white;
            border-bottom: 1px solid #DDE5EC;
            width: 100%;
            text-align: center; }
            @media all and (min-width: 900px) {
              body header div#label-blue div#navegacion nav ul li {
                display: table-cell;
                width: 21%;
                background: transparent;
                border: none; } }
            @media all and (min-width: 900px) {
              body header div#label-blue div#navegacion nav ul li.righted {
                position: relative;
                left: 4%; } }
            body header div#label-blue div#navegacion nav ul li a {
              padding-top: 10px;
              display: block;
              width: 100%;
              height: 100%;
              text-transform: uppercase;
              font-weight: 600;
              color: #005499;
              text-decoration: none;
              padding-bottom: 10px;
              border-bottom: 5px solid transparent; }
              @media all and (min-width: 900px) {
                body header div#label-blue div#navegacion nav ul li a {
                  padding-top: 0px;
                  width: auto;
                  height: auto;
                  display: inline-block; } }
              body header div#label-blue div#navegacion nav ul li a:hover, body header div#label-blue div#navegacion nav ul li a.active {
                color: #FB722C;
                border-bottom: 5px solid #FB722C; }
          body header div#label-blue div#navegacion nav ul.activated li {
            display: block; }
            @media all and (min-width: 900px) {
              body header div#label-blue div#navegacion nav ul.activated li {
                display: table-cell; } }
  body footer {
    margin-top: 35px;
    margin-bottom: 10px;
    padding-top: 10px;
    border-top: 1px solid #DDE5EC;
    text-align: center; }
    @media all and (min-width: 900px) {
      body footer {
        text-align: left; } }
    body footer ul li {
      display: inline-block;
      vertical-align: middle;
      margin-right: 20px; }
  body main div#slideshow {
    display: block;
    position: relative; }
    body main div#slideshow div.item {
      display: block;
      width: 100%;
      position: relative; }
      body main div#slideshow div.item img {
        width: 100%;
        height: auto;
        max-height: 640px;
        -webkit-object-fit: contain;
        -moz-object-fit: contain;
        -ms-object-fit: contain;
        -o-object-fit: contain;
        object-fit: contain; }
      body main div#slideshow div.item div.legend {
        position: absolute;
        left: 25%;
        color: white;
        font-size: 20px;
        bottom: 10px;
        line-height: 1.1; }
        @media all and (min-width: 600px) {
          body main div#slideshow div.item div.legend {
            font-size: 35px;
            bottom: 25px; } }
        @media all and (min-width: 900px) {
          body main div#slideshow div.item div.legend {
            font-size: 50px;
            bottom: 40px; } }
        body main div#slideshow div.item div.legend p {
          text-shadow: 3px 3px 2px rgba(20, 20, 20, 0.3);
          color: white !important; }
        body main div#slideshow div.item div.legend b, body main div#slideshow div.item div.legend strong {
          font-size: 30px;
          font-weight: 600; }
          @media all and (min-width: 600px) {
            body main div#slideshow div.item div.legend b, body main div#slideshow div.item div.legend strong {
              font-size: 55px; } }
          @media all and (min-width: 900px) {
            body main div#slideshow div.item div.legend b, body main div#slideshow div.item div.legend strong {
              font-size: 80px; } }
    body main div#slideshow div.owl-nav {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      overflow: hidden;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%); }
      body main div#slideshow div.owl-nav div.owl-prev,
      body main div#slideshow div.owl-nav div.owl-next {
        float: left;
        display: block;
        width: 45px;
        height: 35px;
        text-indent: -9999px;
        opacity: .5;
        background: transparent url(../imagenes/prev.png) no-repeat;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -ms-background-size: contain;
        -o-background-size: contain;
        background-size: contain; }
        body main div#slideshow div.owl-nav div.owl-prev:hover,
        body main div#slideshow div.owl-nav div.owl-next:hover {
          cursor: pointer;
          opacity: .8; }
      body main div#slideshow div.owl-nav div.owl-next {
        float: right;
        background-image: url(../imagenes/next.png); }
  body main div#content {
    margin-top: 20px;
    line-height: 1.7;
    font-size: 16px;
    padding: 0 20px; }
    @media all and (min-width: 600px) {
      body main div#content {
        padding: 0 180px 0 25%; } }
    body main div#content p {
      margin-bottom: 20px; }
      body main div#content p span#firstLetter {
        font-size: 95px;
        color: #FB722C;
        float: left;
        line-height: .8;
        margin-right: 10px;
        padding: 1px; }
    body main div#content h1 {
      font-size: 3em; }
    body main div#content h2 {
      font-size: 2.5em; }
    body main div#content h3 {
      font-size: 2em; }
    body main div#content h4 {
      font-size: 1.5em; }
    body main div#content h1, body main div#content h2, body main div#content h3, body main div#content h4 {
      color: #FB722C;
      margin: 15px 0; }
    body main div#content ul li {
      list-style: disc; }
    body main div#content ol li {
      list-style: upper-hexadecimal; }
    body main div#content sup {
      vertical-align: super;
      font-size: smaller; }
    body main div#content sub {
      vertical-align: sub;
      font-size: smaller; }
    body main div#content b, body main div#content strong {
      font-weight: bold; }
    body main div#content hr {
      color: #bcbcbc; }
    body main div#content a {
      text-decoration: underline;
      color: #FB722C; }
      body main div#content a:hover {
        color: #82A6C0; }
    body main div#content i, body main div#content em {
      font-style: italic; }
    body main div#content aside#video_chantier {
      padding-top: 90px; }
      body main div#content aside#video_chantier h2 {
        font-size: 20px;
        color: #005499; }
      body main div#content aside#video_chantier iframe {
        width: 100%;
        max-width: 560px;
        height: 315px; }
  body main#contact_page div#maps {
    height: 200px;
    margin-bottom: 25px; }
  body main#contact_page form {
    overflow: hidden; }
    body main#contact_page form ul#errorMsg {
      margin: 20px 0; }
      body main#contact_page form ul#errorMsg li {
        color: #FB722C;
        font-weight: bold;
        font-size: 16px; }
    body main#contact_page form div.form-group {
      display: block;
      position: relative;
      margin-top: 25px; }
      body main#contact_page form div.form-group, body main#contact_page form div.form-group * {
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s; }
      @media all and (min-width: 900px) {
        body main#contact_page form div.form-group.ontwo {
          width: 48%;
          display: inline-block; } }
      @media all and (min-width: 900px) {
        body main#contact_page form div.form-group.ontwosecond {
          float: right; } }
      body main#contact_page form div.form-group label {
        cursor: pointer;
        display: block;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        font-size: 14px;
        padding-left: 5px;
        line-height: 40px;
        color: #82A6C0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box; }
      body main#contact_page form div.form-group input, body main#contact_page form div.form-group textarea {
        width: 100%;
        height: 40px;
        font-size: 16px;
        color: #FB722C;
        font-family: 'Source Sans Pro', sans-serif;
        padding: 5px;
        border: 1px solid #82A6C0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
        -ms-box-shadow: none !important;
        -o-box-shadow: none !important;
        box-shadow: none !important; }
      body main#contact_page form div.form-group textarea {
        height: 105px;
        resize: none;
        overflow: auto; }
      body main#contact_page form div.form-group.focused label {
        top: -15px;
        line-height: 1;
        color: #FB722C; }
      body main#contact_page form div.form-group.focused input, body main#contact_page form div.form-group.focused textarea {
        border-color: #FB722C; }
    body main#contact_page form button {
      float: right;
      background-color: #3579b1;
      height: 30px;
      cursor: pointer;
      padding: 0 20px;
      color: white;
      border: none;
      margin-top: 15px; }
      body main#contact_page form button:hover {
        background-color: #FB722C; }
  body main#realisation-page div#main {
    width: 100%;
    position: relative; }
    body main#realisation-page div#main div#slideshow {
      max-width: 960px;
      margin: auto; }
    body main#realisation-page div#main div#contenu {
      display: block;
      max-width: 960px;
      margin: auto;
      padding: 0 10px 80px 10px;
      box-sizing: border-box;
      overflow: hidden;
      margin-top: 30px; }
      @media all and (min-width: 1200px) {
        body main#realisation-page div#main div#contenu {
          box-sizing: content-box; } }
      body main#realisation-page div#main div#contenu section {
        width: 100%; }
        @media all and (min-width: 600px) {
          body main#realisation-page div#main div#contenu section {
            width: 60%;
            float: left; } }
        body main#realisation-page div#main div#contenu section h2 {
          font-size: 2.4rem;
          position: relative;
          display: block;
          text-transform: uppercase;
          padding-bottom: 1rem;
          margin-bottom: 2rem; }
          body main#realisation-page div#main div#contenu section h2:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 5rem;
            height: .3rem;
            background: #FB722C; }
        body main#realisation-page div#main div#contenu section div.content {
          line-height: 1.7;
          font-size: 14px; }
          body main#realisation-page div#main div#contenu section div.content p {
            margin-top: 20px; }
      body main#realisation-page div#main div#contenu aside {
        width: 100%; }
        @media all and (min-width: 600px) {
          body main#realisation-page div#main div#contenu aside {
            width: 35%;
            float: right; } }
        body main#realisation-page div#main div#contenu aside p {
          display: block;
          margin-top: .5rem; }
          body main#realisation-page div#main div#contenu aside p#category {
            color: #FB722C;
            text-transform: uppercase;
            font-weight: bold;
            display: block;
            margin-top: 80px; }
  body main#realisation-page aside#others-ones {
    margin: 3rem 0 1rem 0; }
    body main#realisation-page aside#others-ones h3 {
      text-align: center;
      font-size: 1.4rem; }
    body main#realisation-page aside#others-ones ul#slider {
      width: 100%;
      max-width: 960px;
      margin: 1rem auto;
      overflow: hidden; }
      body main#realisation-page aside#others-ones ul#slider li {
        display: block;
        height: 200px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 60%;
        margin: 20px auto;
        float: none; }
        @media all and (min-width: 900px) {
          body main#realisation-page aside#others-ones ul#slider li {
            width: 33.33%;
            margin: 0 !important;
            float: left; } }
        @media all and (min-width: 900px) {
          body main#realisation-page aside#others-ones ul#slider li:nth-of-type(2) {
            margin: 0 5%; } }
        body main#realisation-page aside#others-ones ul#slider li a {
          display: block;
          width: 100%;
          height: 100%;
          text-align: center;
          text-decoration: none;
          color: white;
          background-color: rgba(251, 114, 44, 0.6);
          opacity: 0; }
          body main#realisation-page aside#others-ones ul#slider li a span {
            display: block;
            font-size: 1.4rem;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 2px;
            width: 90%;
            margin: auto;
            position: relative;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%); }
          body main#realisation-page aside#others-ones ul#slider li a h3 {
            display: block;
            font-size: 1.4rem;
            text-align: center;
            font-weight: bold;
            position: relative;
            width: 90%;
            margin: 1rem auto;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%); }
        body main#realisation-page aside#others-ones ul#slider li:hover a {
          opacity: 1; }
  body main nav#menu-categorias {
    display: block;
    text-align: center;
    width: 100%;
    overflow: auto;
    padding: 3rem 0 1rem 0;
    border-top: 1px solid #DDE5EC; }
    body main nav#menu-categorias ul {
      min-width: 800px; }
      body main nav#menu-categorias ul li {
        display: inline-block;
        margin-right: 2%; }
        body main nav#menu-categorias ul li a {
          text-transform: uppercase;
          color: #005499;
          text-decoration: none; }
          body main nav#menu-categorias ul li a:hover, body main nav#menu-categorias ul li a.active {
            color: #FB722C; }
  body main div#realisations {
    overflow: hidden; }
    body main div#realisations ul li {
      display: block;
      height: 230px;
      float: left;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box;
      background: transparent none no-repeat;
      background-size: cover;
      background-position: center;
      width: 100%; }
      @media all and (min-width: 600px) {
        body main div#realisations ul li {
          width: 50%; } }
      @media all and (min-width: 900px) {
        body main div#realisations ul li {
          width: 33.33%; } }
      body main div#realisations ul li.disabled, body main div#realisations ul li.disabled * {
        pointer-events: none; }
      @media all and (min-width: 600px) {
        body main div#realisations ul li:nth-of-type(1), body main div#realisations ul li:nth-of-type(5) {
          height: 460px; } }
      body main div#realisations ul li:nth-of-type(5) {
        float: right; }
      body main div#realisations ul li a.overlay {
        display: block;
        width: 100%;
        height: 100%;
        background-color: rgba(251, 114, 44, 0.6);
        opacity: 0;
        -webkit-transition: all .3s;
        /* Safari */
        transition: all .3s;
        color: white;
        text-decoration: none; }
        body main div#realisations ul li a.overlay span {
          display: block;
          font-size: 1.4rem;
          text-align: center;
          text-transform: uppercase;
          letter-spacing: 2px;
          position: relative;
          top: 45%;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%); }
        body main div#realisations ul li a.overlay h2 {
          display: block;
          font-size: 1.4rem;
          text-align: center;
          margin: 1rem 0;
          font-weight: bold;
          position: relative;
          top: 45%;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%); }
      body main div#realisations ul li:hover a.overlay {
        opacity: 1; }
  body main ul.pagination {
    text-align: center;
    margin: 10px 0; }
    body main ul.pagination li {
      display: inline-block;
      position: relative;
      width: 20px;
      height: 30px;
      line-height: 30px;
      font-size: 16px; }
      body main ul.pagination li a {
        color: #8B8B8B;
        text-decoration: none; }
      body main ul.pagination li.active a {
        color: #4A4A4A; }
      body main ul.pagination li:nth-of-type(1), body main ul.pagination li:nth-last-of-type(1) {
        background-color: #FB722C;
        color: white; }
        body main ul.pagination li:nth-of-type(1) span, body main ul.pagination li:nth-of-type(1) a, body main ul.pagination li:nth-last-of-type(1) span, body main ul.pagination li:nth-last-of-type(1) a {
          display: block;
          width: 100%;
          height: 100%;
          text-indent: -9999px;
          position: relative;
          color: white; }
          body main ul.pagination li:nth-of-type(1) span:before, body main ul.pagination li:nth-of-type(1) a:before, body main ul.pagination li:nth-last-of-type(1) span:before, body main ul.pagination li:nth-last-of-type(1) a:before {
            content: '<';
            text-indent: 0;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            font-size: 20px;
            font-weight: bold; }
        body main ul.pagination li:nth-of-type(1):hover, body main ul.pagination li:nth-last-of-type(1):hover {
          background-color: #82A6C0; }
      body main ul.pagination li:nth-last-of-type(1) span:before, body main ul.pagination li:nth-last-of-type(1) a:before {
        content: '>'; }

section {
  padding: 50px 10px; }
  section h2 {
    color: #005499;
    text-transform: uppercase;
    font-size: 2em;
    margin-bottom: 20px; }
  section a.seemore {
    display: block;
    padding: 10px 30px;
    background: #005499;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    text-decoration: none;
    margin: 50px auto 0 auto;
    width: 200px;
    text-align: center; }
    section a.seemore:hover {
      background-color: #FB722C; }
  section#chiffres ul {
    width: 100%;
    margin: 40px 0;
    overflow: hidden;
    text-align: center; }
    @media all and (min-width: 900px) {
      section#chiffres ul {
        display: table; } }
    section#chiffres ul li {
      text-align: center;
      display: inline-block;
      margin: 0 -1px;
      width: 100%;
      vertical-align: top; }
      @media all and (min-width: 900px) {
        section#chiffres ul li {
          display: table-cell;
          float: none;
          vertical-align: middle; } }
      section#chiffres ul li h3 {
        color: #FB722C;
        font-size: 50px; }
        section#chiffres ul li h3 b, section#chiffres ul li h3 strong {
          font-size: 80px;
          font-weight: bold; }
      section#chiffres ul li p {
        font-size: 20px;
        color: #005499;
        text-transform: uppercase; }
    @media all and (min-width: 600px) {
      section#chiffres ul.first li {
        width: 50%; } }
    @media all and (min-width: 900px) {
      section#chiffres ul.first li {
        width: 33.33%; } }
    section#chiffres ul.second li {
      width: 50%; }
      @media all and (min-width: 900px) {
        section#chiffres ul.second li {
          width: 25%; } }
  section#realisations {
    background-color: #FB722C; }
    section#realisations h2 {
      color: white; }
    section#realisations a.seemore:hover {
      background-color: #82A6C0; }
    section#realisations ul {
      width: 100%;
      overflow: hidden; }
      section#realisations ul li {
        display: block;
        height: 200px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 60%;
        margin: 20px auto;
        float: none; }
        @media all and (min-width: 900px) {
          section#realisations ul li {
            width: 30%;
            margin: 0;
            float: left; } }
        @media all and (min-width: 900px) {
          section#realisations ul li:nth-of-type(2) {
            margin: 0 5%; } }
        section#realisations ul li a {
          display: block;
          width: 100%;
          height: 100%;
          text-align: center;
          text-decoration: none;
          color: white;
          background-color: rgba(251, 114, 44, 0.6);
          opacity: 0; }
          section#realisations ul li a span {
            display: block;
            font-size: 1.4rem;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 2px;
            position: relative;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%); }
          section#realisations ul li a h3 {
            display: block;
            font-size: 1.4rem;
            text-align: center;
            margin: 1rem 0;
            font-weight: bold;
            position: relative;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%); }
        section#realisations ul li:hover a {
          opacity: 1; }

/*# sourceMappingURL=main.css.map */
