'<div id="list1" class="col-md-12 lista">'+
	'<input name="imgInp[]" accept=".png, .jpg, .jpeg" id="imgInp" onchange="cargarImagen(this)" class="img col-md-2" style="margin-top: 3%;" type="file">'+ 
	'<div id="pre-view0" class="col-md-3 delete-img-container" style="margin-top: 3%;">'+
		'<img id="blah0" src="#" alt="your image" style="height: 100px; width: auto;">'+ 
		'<a href="#" data-imgid="1" class="delete-img"><i class="fa fa-trash"></i></a>'+
	'</div>'+ 
	'<div class="form-group col-md-4">'+
		'<label for="texto">Text</label>'+
		'<textarea name="texto" class="form-control newtextarea"></textarea>'+
	'</div>'+ 
	'<div class="form-group col-md-2">'+
		'<label for="nivel">Niveau</label>'+
		'<input name="nivel" value="0" id="nivel" class="form-control" type="text">'+
	'</div>'+
	'<div class="col-md-1">'+
    	'<a href="" id="0" class="delete-icon" onclick="deleteChiffre(this);return false;"><i class="fa fa-trash"></i></a>'+
    '</div>'+
'</div>'