/* *** COLORS *** */
$orange : #FB722C;
$blue : #005499;
$lightblue : #82A6C0;
$ultraLightblue : #DDE5EC;

/* *** RESPONSIVE *** */
$mobile		: 600px;
$tablette	: 900px;
$desktop	: 1200px;

/* *** RESPONSIVE *** */