
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "bootstrap";

table{
	tr{
		td,th{
			&.herramientas{
				text-align: center;
			}
		}
	}
}

div#all_pdfs{
	div.pdf{
		display: table;
		img, span{
			display: table-cell;
			vertical-align: bottom 
		}
	}
}

.overlay-loading{
	position: absolute;
	top:0;
	left:0;
	height: 100%;
	width: 100%;
	text-align: center;
	background-color: rgba(0,0,0,0.4);
	i{
		line-height: 50px;
		font-size: 30px;
		color:white;
	}
}

.delete-img-container,
.delete-pdf-container{
	position:relative;
	text-align: center;
	.delete-img,
	.delete-pdf{
		position: absolute;
		top:0;left:0;
		height:100%;
		width: 100%;
		text-align: center;
		font-size: 25px;
		color:red;
		background-color: rgba(0,0,0,0.4);
		opacity: 0;
		z-index: 10;
		
		&,& *{
			transition: all .3s;
		}

		i{
			position: relative;
			top:25%;
			display: block;
			width: 40px;
			height: 40px;
			border-radius: 40px;
			border:1px solid red;
			line-height: 40px;
			margin:auto;
			opacity: 0.6;
			&:hover{
				opacity:1;
			}
		}
		&:hover{
			opacity: 1;
		}
	}
}

#leyenda_content,
.lista{
	.trumbowyg-box{
		min-height:50px;
	}
	.trumbowyg-editor{
		min-height:50px;
	}
	a.delete-icon{
		font-size: 25px;
		color:#005499;
		width:50px;
		height:50px;
		line-height: 50px;
		text-align: center;
		border:1px solid;
		border-radius: 50px;
		display: block;
		margin: 60px 0 0 0;

		&:hover{
			color:#FB722C;
		}
	}
	img[id^=blah]{
		width: auto !important;
		max-width:100% !important;
		height:auto !important;
	}
}

#sponsors{
	.lista{
		a.delete-icon{
			margin-top:20px;
		}
	}
}

a#addChiffre{
	background: #005499;
	font-size: 16px;
	border:none;
	i{
		font-size: 20px;
		margin-right: 10px;
	}
	&:hover{ 
		background:#FB722C;
	}
}

.linea{
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: 1px solid black;

	&:nth-of-type(2n){
		border-left: 1px solid black;
	}
}