@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700");

@import 'frontvariables';

body{
	font-family: 'Source Sans Pro', sans-serif;
	font-size:14px;
	margin:0;
	color: #626262;

	b,strong{
		font-weight:600;
	}

	div#wrapper, div.wrap{
		width:100%;
		max-width:1100px;
		display:block;
		margin:0 auto;
	}

	header{

		div#label-orange{
			background-color: $orange;
			color:white;
			text-align:right;

			p{
				padding:5px 70px;
				font-size:12px;
			}

		}

		div#label-blue{
			display: block;
			position: relative;
			width: 100%;
			@media all and (min-width: $mobile){
				display: table;
			}
			
			div#logo{
				display: block;
				width:35%;
				padding-top: 10px;
				
				@media all and (min-width: $mobile){
					display:table-cell;
					vertical-align: middle;
					width: 25%;
					padding-top: 0px;
				}
				
				a{
					text-decoration:none;
					display: block;
					h1{
						display: block;
						width: 75px;
						height:72px;
						margin-left: 23%;
						text-indent: -9999px;
						background:transparent url(../imagenes/arici-logo.png) no-repeat;
						-webkit-background-size: contain;
						-moz-background-size: contain;
						-ms-background-size: contain;
						-o-background-size: contain;
						background-size: contain;
						&:hover{
							opacity:0.8;
						}
					}
				}
			}
			
			div#navegacion{
				display: block;
				width: 100%;
				color: $lightblue;
				@media all and (min-width: $mobile){
					display:table-cell;
					vertical-align: top;
					width:75%;
				}

			
				div#slogan{
					position: absolute;
					top: 0;
					width: 65%;
					left: 35%;
					float:left;
					margin-top: 20px;
					font-size: 18px;
	
					@media all and (min-width: $mobile){
						position:relative;
						left: 0;
						width: auto;
					}


				}
				div#tel{
					position: relative;
					margin-top: 20px;
					float:right;
					padding: 0 10px 0 50px;
					@media all and (min-width: $mobile){
						padding-right:70px;
					}
					&:before{
						content: '';
						display: block;
						width: 50px;
						height: 100%;
						position: absolute;
						left: 0;
						top:0;
						background: url("../imagenes/imgtel.png") no-repeat;
						background-position: center left;
						-webkit-background-size:contain;
						-moz-background-size:contain;
						-ms-background-size:contain;
						-o-background-size:contain;
						background-size:contain;
					}
					p{
						font-size: 16px;
						text-transform: uppercase;
						a{
							text-decoration: none;
							font-weight: 600;
							display: block;
							padding-top: 5px;
							color: $orange;
							&:hover{
								color:$blue;
							}
						}
					}
				}

				nav {
					clear:both;
					padding:10px 0 0 0;
					position: relative;
					a#burger{
						display: inline-block;
						color: $lightblue;
						text-decoration: none;
						font-size: 25px;
						position: absolute;
						top: -37px;
						left: 10px;
						z-index: 20;
						border:1px solid;
						border-radius: 5px;
						padding: 5px 10px;
						&:hover,&:active{
							color:$orange;
						}
						@media all and (min-width: $tablette){
							display: none;
						}
					}				
					ul{
						margin: 0;
						padding: 0;
						border:1px solid $ultraLightblue;
						border-bottom: none;
						width: 100%;
						display: block;
						-webkit-box-sizing: border-box;
						-moz-box-sizing: border-box;
						-ms-box-sizing: border-box;
						-o-box-sizing: border-box;
						box-sizing: border-box;
						position: absolute;
						top:10px;
						z-index: 50;
						@media all and (min-width: $tablette){
							position: relative;
							top:0px;
							display: table;
							padding:10px 70px 0 0;
							border:none;
							border-top:1px solid $ultraLightblue;
						}
						li{
							display: none;
							background: white;
							border-bottom: 1px solid $ultraLightblue;
							width: 100%;
							text-align: center;
							@media all and (min-width: $tablette){
								display:table-cell;
								width: 21%;
								background: transparent;
								border:none;
							}
							&.righted{
								@media all and (min-width: $tablette){
									position: relative;
									left:4%;
								}
							}
							a{
								padding-top: 10px;
								display: block;
								width: 100%;
								height: 100%;
								text-transform: uppercase;
								font-weight: 600;
								color: $blue;
								text-decoration: none;
								padding-bottom: 10px;
								border-bottom: 5px solid transparent;
								
								@media all and (min-width: $tablette){
									padding-top:0px;
									width: auto;
									height: auto;
									display:inline-block;
								}
								&:hover, &.active{
									color:$orange;
									border-bottom: 5px solid $orange;
								}
							}
						}
						&.activated{
							li{
								display: block;
								@media all and (min-width: $tablette){
									display:table-cell;
								}
							}
						}
					}
				}
			}

		}
	}

	footer{
		margin-top: 35px;
		margin-bottom: 10px;
		padding-top: 10px;
		border-top:1px solid $ultraLightblue;
		text-align: center;
		@media all and (min-width: $tablette){
			text-align:left;
		}
		ul{
			li{
				display: inline-block;
				vertical-align: middle;
				margin-right: 20px;
			}
		}
	}

	main{
		div#slideshow{
			display: block;
			position: relative;
			ul{
				li.item{
					display: block;
					width: 100%;
					position: relative;
					img{
						width:100%;
						height:auto;
						max-height: 640px;
						-webkit-object-fit:contain;
						-moz-object-fit:contain;
						-ms-object-fit:contain;
						-o-object-fit:contain;
						object-fit:contain;
					}
					p.copyright{
						position: absolute;
						bottom: 5px;
						right: 0;
						background: rgba(98, 106, 120, 0.6);
						display: inline-block;
						margin: 0;
						color: white;
						padding: 5px 20px;
					}
				}
			}
			h2{
				position: absolute;
				left: 25%;
				z-index: 9999;
				pointer-events: none;
				color: white;
				font-size: 20px;
				bottom: 10px;
				line-height: 1.1;
				@media all and (min-width:$mobile){
					font-size: 35px;
					bottom: 25px;
				}
				@media all and (min-width:$tablette){
					font-size: 50px;
					bottom: 40px;
				}
				p{
					text-shadow:3px 3px 2px rgba(20, 20, 20, 0.3);
					color: white !important; 
				}
				b, strong{
					font-size: 30px;
					font-weight: 600;
					@media all and (min-width:$mobile){
						font-size: 55px;
					}
					@media all and (min-width:$tablette){
						font-size: 80px;
					}
				}
			}
			div.owl-nav{
				position: absolute;
				top:50%;
				left:0;
				width:100%;
				overflow: hidden;
				-webkit-transform: translateY(-50%);
				-moz-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				-o-transform: translateY(-50%);
				transform: translateY(-50%);
				div.owl-prev,
				div.owl-next{
					float:left;
					display: block;
					width:45px;
					height:35px;
					text-indent: -9999px;
					opacity: .5;
					background:transparent url(../imagenes/prev.png) no-repeat;
					-webkit-background-size: contain;
					-moz-background-size: contain;
					-ms-background-size: contain;
					-o-background-size: contain;
					background-size: contain;
					&:hover{
						cursor:pointer;
						opacity: .8;
					}
				}
				div.owl-next{
					float: right;
					background-image: url(../imagenes/next.png);
				}
			}
		}
		div#content{
			margin-top: 20px;
			line-height: 1.7;
			font-size: 16px;
			padding: 0 20px;
			@media all and (min-width: $mobile){
				padding: 0 180px 0 25%;
			}

			p{
				margin-bottom: 20px;

				span#firstLetter{
					font-size: 95px;
					color: $orange;
					float: left;
					line-height: .8;
					margin-right: 10px;
					padding:1px;
				}
			}
			h1{
				font-size: 3em;
			}
			h2{
				font-size: 2.5em;
			}
			h3{
				font-size: 2em;
			}
			h4{
				font-size: 1.5em;
			}
			h1,h2,h3,h4{
				color:$orange;
				margin: 15px 0;
			}
			ul{
				li{
					list-style: disc;
				}
			}
			ol{
				li{
					list-style: upper-hexadecimal;
				}
			}
			sup{
				vertical-align: super;
				font-size: smaller;
			}
			sub{
				vertical-align: sub;
				font-size: smaller;
			}
			b, strong{
				font-weight: 600;
			}
			hr{
				color:#bcbcbc;
			}
			a{
				text-decoration: underline;
				color:$orange;
				&:hover{
					color:$lightblue;
				}
			}
			i, em{
				font-style: italic;
			}
			img{
				max-width: 100%;
				height: auto;
				max-height: 500px;
				display: block;
				margin: 0 auto;
				-webkit-object-fit:contain;
				-moz-object-fit:contain;
				-ms-object-fit:contain;
				-o-object-fit:contain;
				object-fit:contain;
			}

		}
		
		&#contact_page{
			div#maps{
				height:400px;
				margin-bottom:25px;
			}
			form{
				overflow: hidden;
				ul#errorMsg{
					margin: 20px 0;
					li{
						color:$orange;
						font-weight: 600;
						font-size: 16px;
					}
				}
				div.form-group{
					display: block;
					position: relative;
					margin-top:25px;
					&, *{
						-webkit-transition: all .3s;
						-moz-transition: all .3s;
						-ms-transition: all .3s;
						-o-transition: all .3s;
						transition: all .3s;
					}
					&.ontwo{
						@media all and (min-width:$tablette){
							width: 48%;
							display: inline-block
						}
					}
					&.ontwosecond{
						@media all and (min-width:$tablette){
							float:right;
						}
					}
					label{
						cursor: pointer;
						display: block;
						width: 100%;
						position:absolute;
						top:0;
						left:0;
						font-size: 14px;
						padding-left: 5px;
						line-height: 40px;
						color:$lightblue;
						-webkit-box-sizing: border-box;
						-moz-box-sizing: border-box;
						-ms-box-sizing: border-box;
						-o-box-sizing: border-box;
						box-sizing: border-box;
					}
					input, textarea{
						width:100%;
						height:40px;
						font-size: 16px;
						color:$orange;
						font-family: 'Source Sans Pro', sans-serif;
						padding:5px;
						border:1px solid $lightblue;
						-webkit-box-sizing: border-box;
						-moz-box-sizing: border-box;
						-ms-box-sizing: border-box;
						-o-box-sizing: border-box;
						box-sizing: border-box;
						-webkit-box-shadow: none !important;
						-moz-box-shadow: none !important;
						-ms-box-shadow: none !important;
						-o-box-shadow: none !important;
						box-shadow: none !important;
					}
					textarea{
						height:105px;
						resize:none;
						overflow: auto;	
					}

					&.focused{
						label{
							top:-15px;
							line-height: 1;
							color:$orange;
						}
						input, textarea{
							border-color:$orange;
						}
					}
				}
				button{
					float: right;
					background-color: #3579b1;
					height: 30px;
					cursor: pointer;
					padding: 0 20px;
					color: white;
					border: none;
					margin-top: 15px;

					&:hover{
						background-color:$orange;
					}
				}
			}
		}

		&#realisation-page{
			div#main{
				width: 100%;
				position:relative;
				div#slideshow{
					max-width: 960px;
					margin:auto;
				}
				div#contenu{
					display: block;
					max-width:960px;
					margin: auto;
					padding:0 10px 80px 10px;
					box-sizing: border-box;
					overflow: hidden;
					margin-top: 30px;
					@media all and (min-width: $desktop){
						box-sizing:content-box;
					}

					section{
						width:100%;
						@media all and (min-width: $mobile){
							width:60%;
							float:left;
						}
						h2{
							font-size: 2.4rem;
							position: relative;
							display: block;
							text-transform: uppercase;
							padding-bottom: 1rem;
							margin-bottom: 2rem;

							&:after{
								content:'';
								position: absolute;
								bottom: 0;
								left: 0;
								width:5rem;
								height:.3rem;
								background: $orange;
							}
						}
						div.content{
							line-height: 1.7;
							font-size: 14px;
							p{
								margin-top:20px;
							}
							h1{
								font-size: 3em;
							}
							h2{
								font-size: 2.5em;
							}
							h3{
								font-size: 2em;
							}
							h4{
								font-size: 1.5em;
							}
							h1,h2,h3,h4{
								color:$orange;
								margin: 15px 0;
							}
							ul{
								li{
									list-style: disc;
								}
							}
							ol{
								li{
									list-style: upper-hexadecimal;
								}
							}
							sup{
								vertical-align: super;
								font-size: smaller;
							}
							sub{
								vertical-align: sub;
								font-size: smaller;
							}
							b, strong{
								font-weight: 600;
							}
							hr{
								color:#bcbcbc;
							}
							a{
								text-decoration: underline;
								color:$orange;
								&:hover{
									color:$lightblue;
								}
							}
							i, em{
								font-style: italic;
							}
							img{
								max-width: 100%;
								height: auto;
								max-height: 500px;
								display: block;
								margin: 0 auto;
								-webkit-object-fit:contain;
								-moz-object-fit:contain;
								-ms-object-fit:contain;
								-o-object-fit:contain;
								object-fit:contain;
							}
						}
						div#pdfs{
							h3{
								margin: 30px 0 10px 0;
								text-transform: uppercase;
								color: #005499;
								font-size: 18px;
								font-weight: 600;
							}
							ul#pdfs-list{
								li{
									display: inline-block;
									margin-right: 15px;
									width:100%;
									max-width: 140px;
									a{
										display: table;
										width: 100%;
										color:#626262;
										text-decoration: none;
										&:hover{
											color:$orange;
										}
										img, span{
											display: table-cell;
											vertical-align: bottom;
										}
										img{
											padding-right: 5px;
										}
									}
								}
							}
						}
					}

					aside{
						width:100%;
						@media all and (min-width: $mobile){
							width:35%;
							float:right;
						}
						p{
							display: block;
							margin-top:.5rem;
							&#category{
								color:$orange;
								text-transform: uppercase;
								font-weight: 600;
								display: block;
								margin-top: 80px;
							}
						}
					}
				}
			}
			aside#others-ones{
				margin:3rem 0 1rem 0;
				h3{
					text-align: center;
					font-size: 1.4rem;
					text-transform: uppercase;
				}
				ul#slider{
					width:100%;
					max-width: 960px;
					margin:1rem auto;
					overflow: hidden;
					text-align: center;
					position: relative;
					li{
						display: block;
						height: 200px;
						background-size: cover;
						background-repeat: no-repeat;
						background-position: center;
						width: 60%;
						margin: 20px auto;
						float: none;

						@media all and (min-width: $tablette){
							width: 33.33%;
							margin: 0  -2px !important;
							display: inline-block;
							vertical-align: middle;
						}

						&:nth-of-type(2){
							@media all and (min-width: $tablette){
								margin:0 5%;
							}
						}

						a{
							display: block;
							width:100%;
							height: 100%;
							text-align: center;
							text-decoration: none;
							color:white;
							background-color: rgba(251, 114, 44, 0.6);
							opacity: 0;

							span{
								display: block;
								font-size: 1.4rem;
								text-align: center;
								text-transform: uppercase;
								letter-spacing: 2px;
								width: 90%;
								margin: auto;
								position: relative;
								top:50%;
								-webkit-transform:translateY(-50%);
								-moz-transform:translateY(-50%);
								-ms-transform:translateY(-50%);
								-o-transform:translateY(-50%);
								transform:translateY(-50%);
							}
							h3{
								display: block;
								font-size: 1.4rem;
								text-align: center;
								font-weight: 600;
								position: relative;
								width: 90%;
								margin: 1rem auto;
								top:50%;
								-webkit-transform:translateY(-50%);
								-moz-transform:translateY(-50%);
								-ms-transform:translateY(-50%);
								-o-transform:translateY(-50%);
								transform:translateY(-50%);
							}
						}

						&:hover{
							a{
								opacity: 1;
							}
						}
					}
					div.owl-item{
						li{
							width: 100%;
						}
					}
					div.owl-nav{
						position: absolute;
						pointer-events:none;
						top:50%;
						left:0;
						width:100%;
						overflow: hidden;
						-webkit-transform: translateY(-50%);
						-moz-transform: translateY(-50%);
						-ms-transform: translateY(-50%);
						-o-transform: translateY(-50%);
						transform: translateY(-50%);
						div.owl-prev,
						div.owl-next{
							pointer-events:all;
							float:left;
							display: block;
							width:45px;
							height:35px;
							text-indent: -9999px;
							opacity: .5;
							background:transparent url(../imagenes/prev.png) no-repeat;
							-webkit-background-size: contain;
							-moz-background-size: contain;
							-ms-background-size: contain;
							-o-background-size: contain;
							background-size: contain;
							&:hover{
								cursor:pointer;
								opacity: .8;
							}
						}
						div.owl-next{
							float: right;
							background-image: url(../imagenes/next.png);
						}
					}
				}
			}
		}

		nav#menu-categorias{
			display: block;
			text-align: center;
			width:100%;
			overflow: auto;
			padding:3rem 0 1rem 0;
			border-top:1px solid $ultraLightblue;

			ul{
				min-width: 800px;
				li{
					display: inline-block;
					margin-right: 2%;
					a{
						text-transform: uppercase;
						color:#005499;
						text-decoration: none;

						&:hover,
						&.active{
							color:#FB722C;
						}
					}
				}
			}
		}

		div#realisations{
			overflow: hidden;
			ul{
				li{
					display: block;
					height:230px;
					float:left;
					-webkit-box-sizing: border-box;
					-moz-box-sizing: border-box;
					-ms-box-sizing: border-box;
					-o-box-sizing: border-box;
					box-sizing: border-box;
					background:transparent none no-repeat;
					background-size: cover;
					background-position: center;
					width:100%;
					@media all and (min-width: $mobile){
						width:50%;
					}
					@media all and (min-width: $tablette){
						width:33.33%;
					}

					&.disabled{
						&, & *{
							pointer-events: none;
						}
					}

					&:nth-of-type(1),
					&:nth-of-type(5){
						@media all and (min-width: $mobile){
							height:460px;
						}
					}

					&:nth-of-type(5){
						float:right;
					}
					
					a.overlay{
						display: block;
						width:100%;
						height:100%;
						background-color:rgba(251, 114, 44, .6);
						opacity: 0;
						-webkit-transition: all .3s; /* Safari */
					    transition: all .3s;
					    color:white;
					    text-decoration: none;

					    span{
					    	display: block;
					    	font-size: 1.4rem;
					    	text-align: center;
					    	text-transform: uppercase;
					    	letter-spacing: 2px;
					    	position:relative;
					    	top:45%;
					    	-webkit-transform: translateY(-50%);
					    	-moz-transform: translateY(-50%);
					    	-ms-transform: translateY(-50%);
					    	-o-transform: translateY(-50%);
					    	transform: translateY(-50%);
					    }
					    h2{
					    	display: block;
							font-size: 1.4rem;
							text-align: center;
							margin: 1rem 0;
							font-weight: 600;
							position:relative;
							top:45%;
							-webkit-transform: translateY(-50%);
							-moz-transform: translateY(-50%);
							-ms-transform: translateY(-50%);
							-o-transform: translateY(-50%);
							transform: translateY(-50%);
					    }
					}
					&:hover{
						a.overlay{
							opacity:1;
						}
					}
				}
			}

		}

		ul.pagination{
			text-align: center;
			margin: 10px 0;
			li{
				display: inline-block;
				position:relative;
				width: 20px;
				height: 30px;
				line-height: 30px;
				font-size: 16px;
				a{
					color:#8B8B8B;
					text-decoration: none;
				}
				&.active{
					a{
						color:#4A4A4A;
					}
				}
				&:nth-of-type(1),
				&:nth-last-of-type(1){
					background-color: $orange;
					color:white;
					span, a{
						display: block;
						width:100%;
						height:100%;
						text-indent: -9999px;
						position: relative;
						color:white;
						&:before{
							content:'<';
							text-indent: 0;
							position: absolute;
							top:0; left: 0;
							width: 100%;
							height: 100%;
							font-size: 20px;
							font-weight: 600;
						}
					}
					&:hover{
						background-color:$lightblue;
					}
				}
				&:nth-last-of-type(1){
					span, a{
						&:before{
							content:'>';
						}
					}
				}
			}
		}

	}
}

section{
	padding:50px 10px;
	h2{
		color:$blue;
		text-transform: uppercase;
		font-size: 2em;
		margin-bottom: 20px;
	}

	a.seemore{
		display: block;
		padding: 10px 30px;
		background: $blue;
		color: white;
		text-transform: uppercase;
		font-size: 16px;
		text-decoration: none;
		margin:50px auto 0 auto;
		width: 200px;
		text-align: center;
		&:hover{
			background-color:$orange;
		}
	}

	&#chiffres{
		h2{
			font-size: 48px;
			text-transform: none;
		}
		ul{
			width:100%;
			margin:40px 0;
			overflow: hidden;
			text-align:center;
			li{
				text-align: center;
				display: inline-block;
				margin:15px -2px;
				width:100%;
				vertical-align: top;
				h3{
					color:$orange;
					font-size: 50px;
					b, strong{
						font-size: 80px;
						font-weight: 700;
					}
				}
				&>p{
					font-size: 20px;
					color:$blue;
					text-transform: uppercase;
				}
			}
			&.first{
				li{
					@media all and (min-width: $mobile){
						width:50%;
					}
					@media all and (min-width: $tablette){
						width:33.33%;
					}
				}
			}
			&.second{
				li{
					width:50%;
					@media all and (min-width: $tablette){
						width:25%;
					}
				}
			}

		}
	}

	&#realisations{
		background-color: $orange;
		h2{
			color:white;
		}
		a.seemore{
			&:hover{
				background-color:$lightblue;
			}
		}
		ul{
			width:100%;
			overflow: hidden;
			li{
				display: block;
				height: 200px;
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;
				width: 60%;
				margin: 20px auto;
				float: none;

				@media all and (min-width: $tablette){
					width: 30%;
					margin: 0;
					float: left;
				}

				&:nth-of-type(2){
					@media all and (min-width: $tablette){
						margin:0 5%;
					}
				}

				a{
					display: block;
					width:100%;
					height: 100%;
					text-align: center;
					text-decoration: none;
					color:white;
					background-color: rgba(251, 114, 44, 0.6);
					opacity: 0;

					span{
						position: relative;
						top:50%;
						display: block;
						font-size: 1.4rem;
						text-align: center;
						text-transform: uppercase;
						letter-spacing: 2px;
						padding:0 15px;
						-webkit-transform:translateY(-50%);
						-moz-transform:translateY(-50%);
						-ms-transform:translateY(-50%);
						-o-transform:translateY(-50%);
						transform:translateY(-50%);
					}
					h3{
						position: relative;
						top:50%;
						display: block;
						font-size: 1.4rem;
						text-align: center;
						margin: 1rem 0;
						padding:0 15px;
						font-weight: 600;
						-webkit-transform:translateY(-50%);
						-moz-transform:translateY(-50%);
						-ms-transform:translateY(-50%);
						-o-transform:translateY(-50%);
						transform:translateY(-50%);
					}
				}

				&:hover{
					a{
						opacity: 1;
					}
				}
			}
		}
	}

	&#confiance{
		h2{
			font-size: 48px;
			text-transform: none;
		}
		ul{
			text-align: center;
			margin: 0 -15px;
			li{
				vertical-align: middle;
				display: inline-block;
				margin:0 -2px;
				box-sizing:border-box;
				a{
					display: block;
					width: 100%;
					height: 100%;
					padding:35px;
					box-sizing:border-box;
				}
				img{
					max-width: 100%;
					height:auto;
					-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
					-moz-filter: grayscale(100%);
					-ms-filter: grayscale(100%);
					-o-filter: grayscale(100%);
					filter: grayscale(100%);
				}

				&:hover{
					img{
						-webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
						-moz-filter: grayscale(0%);
						-ms-filter: grayscale(0%);
						-o-filter: grayscale(0%);
						filter: grayscale(0%);		
					}
				}
			}
		}
	}

	&#organigramme{
		h2{
			text-transform: none;
			font-size: 48px;
		}
		h3#chantiers{
			color: $blue;
			text-align: center;
			text-transform: uppercase;
			font-size: 1.4em;
			margin-bottom: 20px;
		}
		ul#team,
		ul#administratifs,
		ul#directeur{
			text-align: center;
			width: 100%;
			margin: 0 0 30px 0;
			& > li{
				display: inline-block;
				vertical-align: top;
				margin:0 -2px;
				padding: 30px;
				box-sizing:border-box;
				width: 100%;
				color:$blue;
				img{
					max-width: 100%;
					height: auto;
					margin-bottom: 10px;
				}
				b, strong{
					display: block;
					color:black;
					font-size: 15px;
					font-weight: 600;
				}
				ul{
					li{
						width: 50% !important;
						display: inline-block;
						vertical-align: top;
						margin:0 -2px;
						padding: 0 10px;
						box-sizing:border-box;
					}
				}
			}
			&#directeur{
				li{
					@media all and (min-width:$mobile){
						width: 60%;
						padding: 10px;
					}
				}
			}
			&#administratifs{
				li{
					@media all and (min-width:$mobile){
						width: 45%;
					}
				}
			}
			&#team{
				box-sizing:border-box;
				@media all and (min-width:$mobile){
					padding:0 3%;
				}
				li{
					padding-top:0;
					padding-bottom:0;
					width: 50%;
					@media all and (min-width:$mobile){
						width: 25%;
					}
					img{
						max-width: 95%;
						@media all and (min-width:$mobile){
							max-width: 80%;
						}
					}
				}
			}
		}
	}
}